@page
@model IndexModel
@using FinanceManager.Models.Resources
@inject IStringLocalizer<ProfilePage> Localizer
@inject IStringLocalizer<SharedStrings> SharedLocalizer

@{
    ViewData["Title"] = Localizer["Profile"];
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="mb-3">
    <a asp-controller="Home" asp-action="Index" class="btn btn-link text-secondary text-decoration-none">&lt; @SharedLocalizer["BackToDashboard"]</a>
</div>

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label">@Localizer["Username"]</label>
            </div>

            <hr />
            <h5>@Localizer["PersonalInfo"]</h5>

            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" />
                <label asp-for="Input.FirstName" class="form-label">@Localizer["FirstName"]</label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" />
                <label asp-for="Input.LastName" class="form-label">@Localizer["LastName"]</label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Patronymic" class="form-control" />
                <label asp-for="Input.Patronymic" class="form-label">@Localizer["Patronymic"]</label>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">@Localizer["Save"]</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}