@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@using FinanceManager.Models.Resources
@inject IStringLocalizer<TwoFactorAuthPage> Localizer

@{
    ViewData["Title"] = Localizer["Title"];
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<div class="mb-3">
    <a asp-page="./Security" class="btn btn-link text-secondary text-decoration-none">&lt; Back to Security Settings</a>
</div>

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>@Localizer["NoCodesLeft"]</strong>
                    <p>@Html.Raw(Localizer["MustGenerateNewCodes"])</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>@Localizer["OneCodeLeft"]</strong>
                    <p>@Html.Raw(Localizer["YouCanGenerateNew"])</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>@Localizer.GetString("CodesLeft", Model.RecoveryCodesLeft)</strong>
                    <p>@Html.Raw(Localizer["YouShouldGenerateNew"])</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">@Localizer["ForgetBrowserBtn"]</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">@Localizer["Disable2FABtn"]</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">@Localizer["ResetCodesBtn"]</a>
        }

        <h4>@Localizer["AuthAppTitle"]</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">@Localizer["AddAuthAppBtn"]</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">@Localizer["SetupAuthAppBtn"]</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">@Localizer["ResetAuthAppBtn"]</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>@Localizer["PolicyNotAccepted"]</strong>
            <p>@Localizer["MustAcceptPolicy"]</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}