@using Microsoft.AspNetCore.Identity
@using FinanceManager.Models
@using FinanceManager.Models.Resources
@inject IStringLocalizer<SharedStrings> SharedLocalizer

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var displayName = user?.FullName ?? user?.UserName;

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @SharedLocalizer.GetString("Hello", displayName)
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">@SharedLocalizer["Profile"]</a></li>
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Categories">@SharedLocalizer["Categories"]</a></li>
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/RegularPayments">@SharedLocalizer["RegularPayments"]</a></li>
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Security">@SharedLocalizer["Security"]</a></li>
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/ProfileHandling">@SharedLocalizer["ProfileHandling"]</a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="dropdown-item">@SharedLocalizer["Logout"]</button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">@SharedLocalizer["Register"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">@SharedLocalizer["LogIn"]</a>
        </li>
    }
</ul>